@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	background: #efefef;
	-webkit-text-size-adjust: 100%;
}

a { text-decoration: none; }

table { border-spacing: 0; }

img { border: none; }

em, i { font-style: normal; }

dt, dd, ol, ul, li { list-style: none; margin: 0; padding: 0; }

.fl { float: left; }

.fr { float: right; }

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after { clear: both; overflow: hidden; }

.clearfix { *zoom: 1; }

.paddingBottom15 { padding-bottom: 15px !important; }

.deepgray { color: #333 !important; }

.white-bg { background: #fff; }

.icon {
	background: url(../images/icon.png) no-repeat;
}

.text {
	width: 170px;
	height: 30px;
	padding: 0 5px;
	font-size: 14px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.text:disabled {
	background: #f0f0f0;
}

.common-top {
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 42px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	background: #f8f8f8;
	border-bottom: 1px solid #c3c5c9;
}

.common-top a { position: absolute; }

.common-top .back-step {
	top: 2px;
	left: 5px;
	display: block;
	width: 38px;
	height: 38px;
	background-size: 20px auto;
	background-position: 9px 10px;
}

.common-top .search-bar {
	position: relative;
	height: 32px;
	padding: 0 5px 0 35px;
	margin: 5px 50px 0 42px;
	border: none;
}

.common-top .search-bar .search-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background-position: 7px -873px;
	background-size: 18px auto;
}

.common-top .search-bar .text {
	width: 100%;
	height: 32px;
	padding: 0;
}

.container { padding: 43px 0 0; }

.product-list {
	position: relative;
	padding-bottom: 20px;
}

.filter { border-bottom: 1px solid #d9d9d9; }

.filter li {
	float: left;
	width: 33%;
	padding: 0;
}

.filter li a {
	display: block;
	height: 45px;
	line-height: 45px;
	color: #5f606d;
	font-size: 12px;
	text-align: center;
}

.filter li:nth-child(2) a {
	border-width: 1px;
	border-style: none solid none solid;
	border-color: #d9d9d9;
}

.filter .current a { color: #eb1212; }

.orderby {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-size: 18px auto;
	vertical-align: middle;
}

.orderby.desc { background-position: 0 -274px; }

.filter .current .orderby.desc { background-position: 0 -288px; }

.orderby.asc { background-position: 0 -303px; }

.filter .current .orderby.asc { background-position: 0 -317px; }

.filter-icon {
	width: 20px; height: 20px; display: inline-block;
	background-position: 0 -245px; background-size: 20px auto;
	position: absolute; right: 20px; top: 12px;
}

.filter-icon em {
	width: 8px; height: 8px; display: none;
	background: #ed1212;
	border: 1px solid #ed1212; border-radius: 5px;
	position: absolute; right: -3px; top: -4px;
}

.input-box {
	height: 35px;
	line-height: 35px;
	font-size: 0;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.input-box .text {
	display: inline-block;
	width: 65%;
	height: 35px;
	padding-left: 5px;
	background: none;
	border: none;
	font-size: 14px;
	vertical-align: top;
}

.search-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #f6f6f6;
	border-radius: 4px 0 0 4px;
	vertical-align: top;
}

.search-icon .icon {
	display: block;
	width: 35px;
	height: 35px;
	background-position: 9px -268px;
	background-size: 20px auto;
}

.group-buy-list { padding: 10px; }

.group-buy-item {
	float: left;
	width: 50%;
	margin: 0 0 6px;
}

.group-buy-item .item-detail {
	position: relative;
	margin: 0 3px 0 0;
	padding: 8px;
	background: #fff;
	border: 1px solid #d5d3d3;
	border-radius: 5px;
}

.group-buy-item:nth-of-type(even) { float: right; }

.group-buy-item:nth-of-type(even) .item-detail { margin: 0 0 0 3px; }

.item-detail img {
	display: block;
	width: 100%;
	margin: 0 auto 5px;
}

.item-detail h4 {
	height: 34px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	overflow: hidden;
}

.item-detail h4 span {
	display: inline-block;
	vertical-align: middle;
}

.item-detail p {
	width: 100%;
	height: 15px;
	margin: 0 auto;
	color: #9f9f9f;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

.item-detail .price {
	height: 22px;
	margin: 4px 0 2px 0;
	color: #9f9f9f;
	font-size: 20px;
	font-family: Arial;
}

.item-detail .price > font {
	vertical-align: middle;
}

.item-detail .price em {
	color: #333;
	vertical-align: middle;
}

.item-detail .price span {
	display: inline-block;
	height: 16px;
	padding: 0 4px;
	line-height: 16px;
	color: #fff;
	font-size: 10px;
	background: #db2b15;
	border-radius: 10px;
	vertical-align: middle;
}

.overlay-nosale {
	position: relative;
}

.overlay-nosale dl {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 8px 8px 0;
	margin: -8px 0 0 -8px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px 4px 0 0;
}

.overlay-nosale dd {
	display: table;
	width: 100%;
	height: 100%;
}

.overlay-nosale dd span {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	text-align: center;
}


.slider-catalog {
	width: 100%;
	height: 80px;
	margin: 10px 0 0;
	overflow: hidden;
}

.slider-catalog ul { width: 10000px; }

.slider-catalog li {
	float: left;
	width: 60px;
	margin: 0 10px;
}

.slider-catalog li a {
	display: block;
	width: 60px;
}

.slider-catalog li a img {
	display: block;
	width: 60px;
	height: 60px;
}

.slider-catalog li a span {
	display: block;
	color: #333;
	font-size: 12px;
	text-align: center;
}

.gotop {
	z-index: 999;
	position: fixed;
	right: 15px;
	bottom: 30px;
	width: 45px;
	height: 45px;
	background: rgba(255, 255, 255, 0.9) url(../images/top.png) no-repeat center center/ 20px auto;
	border: 1px solid #f2f2f2;
	border-radius: 30px;
	box-shadow: 0 0 1px #ccc;
}
