@charset "utf-8";

.divided-option {
	z-index: 9;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 42px;
	background: url(../images/price-bg.png) repeat-x 0 0/auto 85px;
	border-top: 1px solid #c7c7c7;
}

.list-pick1 {
	position: relative;
	display: block;
	padding: 0 15px 0 0;
	color: #666;
	font-size: 12px;
}

.list-pick1:after {
	position: absolute;
	right: 0;
	top: 50%;
	width: 15px;
	height: 15px;
	display: block;
	margin-top: -11px;
	background-position: 0 -301px;
	background-size: 20px auto;
	content: "";
}

.list .filter {
	width: 100%;
	background-color: #fff;
}

.list-option {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.list-option .option-con {
	position: relative;
	padding: 0;
	margin-left: 35px;
	background: #fff;
}

.option-item {
	padding: 0 10px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

.brand-item dt, .option-item dt {
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
	color: #333;
	font-size: 13px;
}

.option-item dd { font-size: 0; }

.option-item dd a {
	position: relative;
	display: inline-block;
	width: 33.3%;
	vertical-align: top;
	color: #666;
	font-size: 12px;
	text-align: center;
}

.option-item dd a span {
	display: block;
	height: 35px;
	line-height: 35px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.option-item dd {
	display: none;
	padding-bottom: 15px;
}

.option-item dd a span em {
	display: inline-block;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
}

.option-item.item-show dd { display: block; }

.option-item.item-show .list-pick1:after {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	margin-top: -3px;
	margin-right: -5px;
}

.brand-item,
.option-item a i {
	border: none;
}

.brand-item dd,
.option-item .current i {
	display: block;
}

.brand-item dd a span {
	height: 42px;
	line-height: 42px;
	padding: 0 5px;
	border: 1px solid #f2f2f2;
}

.brand-item dd a span img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.option-item .current span {
	border-color: #eb1212;
}

.option-item .current i {
	position: absolute;
	right: 6px; top:
		6px;
	width: 16px;
	height: 16px;
	background: url(../images/current.png) no-repeat 0 0/16px auto;
	background-size: 16px auto;
}

.list-option .divided-option {
	height: 50px;
	padding: 0;
	background: none;
	border: none;
}

.list-option .divided-option-con {
	height: 50px;
	margin-left: 35px;
	padding: 0;
	background: #f2f2f2;
	border: none;
}

.list-option .divided-option span {
	float: left;
	width: 45%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #666; font-size: 12px;
}

.list-option .divided-option span:last-child {
	width: 55%;
}

.list-option .divided-option span a {
	float: left;
	width: 50%;
	line-height: 50px;
	background: #eb1212;
	color: #fff;
	font-size: 16px;
}

.list-option .divided-option span a.graybg {
	background: #ccc;
}