@charset "utf-8";

/* common style */
body {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	background: #efefef;
	-webkit-text-size-adjust: 100%;
}

a { text-decoration: none; }

table { border-spacing: 0; }

img { border: none; vertical-align: top; }

em, i { font-style: normal; }

dt, dd, ol, ul, li { margin: 0; padding: 0; list-style: none; }

.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; overflow: hidden; }

.clearfix { *zoom: 1; /* IE 6/7 */ }

.deepgray { color: #333 !important; }

.icon {
	background: url(../images/icon.png) no-repeat;
}

.common-top {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 42px;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: #f8f8f8;
	border-bottom: 1px solid #c3c5c9;
}

.common-top h2 {
	display: inline-block;
	margin: auto;
	font: normal 15px "黑体";
	color: #eb1212;
}

.common-top a {
	position: absolute;
}

.common-top .back-step {
	top: 2px;
	left: 5px;
	display: block;
	width: 38px;
	height: 38px;
	background-size: 20px auto;
	background-position: 9px 10px;
}

.container {
	padding: 43px 0 0;
	margin: 0 auto;
	max-width: 640px;
}

.container {
	margin: 0 auto;
	max-width: 640px;
	background-color: #223675;
}

/* page style */
.container header {
	position: relative;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.floatNav {
	height: 42px;
}

#slider {
	width: 100%;
	height: 42px;
	background: #000000;
	padding-left: 5%;
	opacity: .85;
	position: absolute;
	bottom: 0;
}

#nav {
	position: absolute;
}

#nav > a,
#nav span {
	display: inline-block;
	float: left;
	padding: 10px 8px 9px;
	font-size: 14px;
	color: #d9d9d9;
}

#nav span a {
	color: #d9d9d9;
}

#nav > a.current {
	color: #ad7504;
	border-bottom: 4px solid #f4a701;
}

.shopList {
	padding-left: 4%;
	background-color: #f7f7f7;
}

.title {
	position: relative;
	width: 96%;
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
}

.title a {
	font-size: 14px;
	color: #999999;
}

.title span {
	position: absolute;
	top: 50%;
	width: 15px;
	height: 0;
	padding-top: 1px;
	overflow: hidden;
	border-bottom: 1px solid #999999;
}

.title span:nth-of-type(1) { margin-left: -31px; }

.title span:nth-of-type(2) { margin-left: 15px; }

.title img { width: 96%; }

.shopList ul li {
	float: left;
	width: 46%;
	margin: 0 4% 5% 0;
}

.shopList ul li img {
	width: 100%;
	box-shadow: 0 0 1px #ccc;
}

.gotop {
	position: fixed;
	z-index: 999;
	right: 15px;
	bottom: 30px;
	width: 45px;
	height: 45px;
	box-shadow: 0 0 1px #ccc;
	background: rgba(255, 255, 255, 0.9) url(../images/top.png) no-repeat center center;
	background-size: 20px auto;
	border: 1px solid #f2f2f2; border-radius: 30px;
}
